* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.resaltar:hover {
  color: orange;
}

.reserva_link {
  background-color: #D9A648;
  color: #F2F2F2;
}

.reserva_link:hover {
  background-color: orange;
}

.resaltar_VerMas:hover {
  background-color: #D9A648;
  color: #F2F2F2;
}

.hero {
  height: 400px;
  color: #A68B6A;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacto {
  background-color: white;
  color: #A68B6A;
}

.button {
  background-color: #A68B6A; 
  color: white;
  padding: 12px 32px;
  font-size: 1.125rem; /* 18px */
  border-radius: 9999px; /* Redondeado */
  display: block;
  margin: 0 auto; /* Para centrar */
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.button:hover {
  background-color: #D9A648; 
  transform: scale(1.05);
}
.formulario {
  background-color: #F2F2F2;
  color: #A68B6A;
}

#preloader {
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Menu portafolio */

/* Contenedor principal */
.portafolio-section {
  background-color: #ffffff;
  padding: 3rem 0; 
}

.portafolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem; 
}

/* Título principal */
.portafolio-title {
  font-size: 2.25rem; 
  font-weight: 700; 
  text-align: center;
  color: #A68B6A; 
  margin-bottom: 1.5rem; 
}

/* Grid para las categorías */
.portafolio-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem; 
}

@media (min-width: 640px) {
  .portafolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .portafolio-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

/* Cada bloque de categoría */
.categoria {
  text-align: center;
}

/* Imagenes */
.categoria-img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  margin-bottom: 1.5rem; 
  width: 100%;
  height: 27rem; 
  object-fit: cover;
}

/* Títulos de categorías */
.categoria-title {
  font-size: 1.25rem; 
  font-weight: 600; 
  margin-bottom: 1rem; 
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #9b7b5c;
  width: 100%;
  display: inline-block;
}

/* Botón Reservar */
.boton-reservar {
  margin-top: 1rem;
  display: inline-block;
  background-color: #9b7b5c;
  color: white;
  padding: 0.5rem 2rem; 
  font-size: 0.875rem; 
  text-transform: uppercase;
  letter-spacing: 0.05em; 
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
}

/* Hover del botón */
.boton-reservar:hover {
  background-color: #D9A648;
}
