* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.resaltar:hover {
  color: orange;
}

.reserva_link {
  background-color: #D9A648;
  color: #F2F2F2;
}

.reserva_link:hover {
  background-color: orange;
}

.resaltar_VerMas:hover {
  background-color: #D9A648;
  color: #F2F2F2;
}

.hero {
  height: 400px;
  color: #A68B6A;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacto {
  background-color: white;
  color: #A68B6A;
}

.button {
  background-color: #A68B6A; 
  color: white;
  padding: 12px 32px;
  font-size: 1.125rem; /* 18px */
  border-radius: 9999px; /* Redondeado */
  display: block;
  margin: 0 auto; /* Para centrar */
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.button:hover {
  background-color: #D9A648; 
  transform: scale(1.05);
}
.formulario {
  background-color: #F2F2F2;
  color: #A68B6A;
}

#preloader {
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}