{% extends 'layouts/app.html' %}

{% block title %}Nathy Santos{% endblock %}

{% block content %}
<!-- Foto de protada -->

<section class="mt-4">
  <div class="w-full overflow-hidden h-96 md:h-">
    <img src="/static/img/webp_format/index/portada.webp" alt="Boda en la playa"
      class="w-full h-full object-cover object-center rounded-none shadow-md">
  </div>
</section>

<!-- Acceso rapido a los portafolios -->

<section id="portafolio" class="py-16 bg-white">
  <div class="container mx-auto px-1">
    <h3 class="text-3xl font-semibold text-center mb-10">PORTAFOLIO</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

      <!-- Portafolios principales -->

      <!--EVENTOS POR TIEMPO-->

      <div class="text-center">
        <h4 class="text-2xl font-bold mb-4">POR TIEMPO</h3>
          <div class="group relative w-full h-[320px] overflow-hidden rounded-md shadow-md mb-4">
            <img src="/static/img/webp_format/index/CIVIL_accesoR.webp" alt="Sesión bodas"
              class="w-full h-full object-cover object-center transition duration-300 ease-in-out group-hover:opacity-60">
            <div
              class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out">
              <a href="{% url 'timeEvents' %}"
                class="text-white text-xl font-semibold bg-black bg-opacity-60 px-6 py-2 rounded-full transition duration-300 ease-in-out resaltar_VerMas">
                VER MÁS
              </a>
            </div>
          </div>
      </div>

      <!--BODAS-->

      <div class="text-center">
        <h4 class="text-2xl font-bold mb-4">BODAS</h3>
          <div class="group relative w-full h-[320px] overflow-hidden rounded-md shadow-md mb-4">
            <img src="/static/img/webp_format/index/BODAS_accesoR.webp" alt="Sesión bodas"
              class="w-full h-full object-cover object-center transition duration-300 ease-in-out group-hover:opacity-60">
            <div
              class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out">
              <a href="{% url 'weddings' %}"
                class="text-white text-xl font-semibold bg-black bg-opacity-60 px-6 py-2 rounded-full transition duration-300 ease-in-out resaltar_VerMas">
                VER MÁS
              </a>
            </div>
          </div>
      </div>

      <!--15 AÑOS-->

      <div class="text-center">
        <h4 class="text-2xl font-bold mb-4">15 AÑOS</h3>
          <div class="group relative w-full h-[320px] overflow-hidden rounded-md shadow-md mb-4">
            <img src="/static/img/webp_format/index/15AÑOS_accesoR.webp" alt="Sesión bodas"
              class="w-full h-full object-cover object-center transition duration-300 ease-in-out group-hover:opacity-60">
            <div
              class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out">
              <a href="{% url '15yearsOld' %}"
                class="text-white text-xl font-semibold bg-black bg-opacity-60 px-6 py-2 rounded-full transition duration-300 ease-in-out resaltar_VerMas">
                VER MÁS
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero Section -->

<section class="relative w-full overflow-hidden text-center py-20 px-4 hero">

  <!-- Imagen de fondo-hero -->
  <img src="/static/img/webp_format/index/fondo-hero.webp" alt="Fondo Hero"
    class="absolute inset-0 w-full h-full object-cover opacity-30">

  <!-- Contenido sobre imagen -->
  <div class="relative z-10 ">
    <h2 class="text-4xl md:text-5xl font-bold mb-4 text-white drop-shadow-lg">
      FOTOGRAFÍA QUE CUENTA HISTORIAS
    </h2>
    <a href="{% url 'calendar' %}"
      class="inline-block reserva_link text-white px-8 py-3 rounded-full text-lg transition transform hover:scale-105 mt-8">
      RESERVA TU DÍA
    </a>
  </div>
</section>

{% endblock %}