# Archivos y carpetas de Python

__pycache__/
*.py[cod]
*.sqlite3

# Archivos de entorno virtual

venv/
env/
ENV/
.venv/

# Configuración de entorno

.env
.env.*

# Archivos de configuracion de sistema

*.DS_Store
*.log

# Archivos de compilacion

*.pyc

# Archivos de bases de datos

*.db

