  <!-- Footer -->

  <footer class="bg-grey-100 text-gray-700 py-12 mt-100">
    <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-8 items-center">
      <div class="flex justify-center">
        <img src="/static/img/webp_fomat/index/nathy-footer.webp" alt="Nathy Santos" class="w-60 h-auto">
      </div>

      <div class="text-center space-y-4">
        <h4 class="font-semibold text-lg">Navegar</h4>
        <ul class="space-y-2 text-sm">
          <li><a href="#" class="resaltar">Home</a></li>
          <li><a href="#quien-soy" class="resaltar">Nathy Santos</a></li>
          <li><a href="#portafolio" class="resaltar">Portafolio</a></li>
          <li><a href="#calendario" class="resaltar">Reservas</a></li>
        </ul>
      </div>

      <div class="text-center space-y-4">
        <h4 class="font-semibold text-lg">Social</h4>
        <ul class="space-y-2 text-sm">
          <li><a href="https://instagram.com/nathysantosfotosdebodas" target="_blank" class="resaltar">Instagram</a>
          </li>
          <li><a href="https://wa.me/1234567890" target="_blank" class="resaltar">WhatsApp</a></li>
        </ul>
        <h4 class="font-semibold text-lg mt-6">Contacto</h4>
        <a href="#contacto" class="text-sm resaltar">Envía un mensaje</a>
      </div>
    </div>

    <!--Linea final Marca personal-->

    <div class="border-t mt-12 pt-4 text-center text-sm text-gray-500">
      <p class="mb-2">Fotografía que cuenta historias</p>
      <p class="text-xs">&copy; 2025 Nathy Santos. Todos los derechos reservados.</p>
    </div>
  </footer>