<!-- Header / Barra de Navegacion -->

<header class="bg-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold tracking-wide">Nathy Santos</h1>
    <nav class="space-x-7 text-sm font-medium">
      <a href="#" class="resaltar">HOME</a>
      <a href="#portafolio" class="resaltar">PORTAFOLIO</a>
      <a href="#calendario" class="resaltar">CALENDARIO</a>
      <a href="#contacto" class="resaltar">CONTACTO</a>
      <a href="#quien-soy" class="resaltar">¿QUIÉN SOY?</a>
    </nav>
  </div>
</header>